{% extends "layout.html" %}
{% block content %}



                <div id="main">

                    <!-- Post -->


                            <!-- Text stuff -->
                                <h2 style="font-family: cinzel;"><i class="fa-solid fa-certificate fa-spin"></i>&nbsp;Certificate </h2>
                                <p>Given below are the awarded certificates</p>
                                <hr />

                            <!-- Image -->
							<div style="font-family: cinzel; size: 14px;">
								<b>Coursera Certificates </b>
							</div>
								  <iframe src="\static\pdf\Coursera L9YP7Y9DN3RM.pdf#zoom=40" loading="lazy" width="46%" height="390px">
								</iframe>

								<iframe align="right" src="\static\pdf\Coursera BFWEAWE6F6HD.pdf#zoom=40" loading="lazy" width="46%" height="390px">
								</iframe>
								<iframe src="\static\pdf\Coursera SABWN423SF7P.pdf#zoom=40" loading="lazy" width="46%" height="390px">
								</iframe>

								<iframe align="right" src="\static\pdf\Coursera B2RPNHH5AN4Z.pdf#zoom=40" loading="lazy" width="46%" height="390px">
								</iframe>

								<iframe src="\static\pdf\Coursera 8FECG5TQ67QR.pdf#zoom=40" loading="lazy" width="46%" height="390px">
								</iframe>

								<iframe  align="right" src="\static\pdf\Coursera 7D2L7F69PJNU.pdf#zoom=40" loading="lazy" width="46%" height="390px">
								</iframe>
								<BR>
									<BR>
										<BR>
											<BR>

								<div style="font-family: cinzel; size: 14px;">
									<b>Linkedin Certificates</b>
								</div>
								<iframe src="\static\pdf\CertificateOfCompletion_Understand GDPR and Data Privacy.pdf#zoom=40" loading="lazy" width="46%" height="390px">
								</iframe>

								<iframe  align="right" src="\static\pdf\CertificateOfCompletion_GDPR for Marketers.pdf#zoom=40" loading="lazy" width="46%" height="390px">
								</iframe>

								<iframe src="\static\pdf\CertificateOfCompletion_Functional Programming with Python.pdf#zoom=40" loading="lazy" width="46%" height="390px">
								</iframe>

								<iframe  align="right" src="\static\pdf\CertificateOfCompletion_Reinforcement Learning Foundations.pdf#zoom=40" loading="lazy" width="46%" height="390px">
								</iframe>

								<iframe src="\static\pdf\CertificateOfCompletion_Using Public Health Data Sources (1).pdf#zoom=40" loading="lazy" width="46%" height="390px">
								</iframe>

								<iframe  align="right" src="\static\pdf\CertificateOfCompletion_Power BI Dashboards for Beginners.pdf#zoom=40" loading="lazy" width="46%" height="390px">
								</iframe>

								<iframe src="\static\pdf\CertificateOfCompletion_Excel Essential Training Office 365Microsoft 365 (1).pdf#zoom=40" loading="lazy" width="46%" height="390px">
								</iframe>
								<div></div><div></div><div></div>
								<BR>
									<BR>
										<BR>

							<div style="font-family: cinzel; size: 14px;">
								<b>DataCamp Certificates</b>
							</div>

                                    <iframe src="\static\pdf\certificate_EDA.pdf#zoom=35" loading="lazy" width="46%" height="308px">
                                    </iframe>

                                    <iframe  align="right" src="\static\pdf\certificate_stat.pdf#zoom=35" loading="lazy" width="46%" height="308px">
                                    </iframe>
                                    <iframe src="\static\pdf\certificate_corr_reg_r.pdf#zoom=35" loading="lazy" width="46%" height="308px">
                                    </iframe>

                                    <iframe  align="right" src="\static\pdf\certificate_inter_r.pdf#zoom=35" loading="lazy" width="46%" height="308px">
                                    </iframe>

									<iframe src="\static\pdf\certificate_EDA.pdf#zoom=35" loading="lazy" width="46%" height="308px">
                                    </iframe>

                                    <iframe  align="right" src="\static\pdf\certificate_tidyverse.pdf#zoom=35" loading="lazy" width="46%" height="308px">
                                    </iframe>
									<BR>
									<BR>
										<BR>
											<BR>



									<div style="font-family: cinzel; size: 14px;">
										<b>IBM Certificates</b>
									</div>

                                    <iframe src="\static\pdf\Ds-handson.pdf#zoom=40" loading="lazy" width="46%" height="390px">
                                    </iframe>

									<iframe  align="right" src="\static\pdf\IBM DS0103EN Certificate _ Cognitive Class.pdf#zoom=40" loading="lazy" width="46%" height="390px">
                                    </iframe>
									<iframe src="\static\pdf\Cognitive Class DV0151EN Certificate _ Cognitive Class.pdf#zoom=40" loading="lazy" width="46%" height="390px">
                                    </iframe>

									<iframe  align="right" src="\static\pdf\CognitiveClass DA0101EN Certificate _ Cognitive Class.pdf#zoom=40" loading="lazy" width="46%" height="390px">
                                    </iframe>

















					</div>




<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" type="text/javascript"></script>






{% endblock %}