{% extends "layout.html" %}
{% block content %}



				<!-- Main -->
					<div id="main">

						<!-- Post -->
                        <h2 style="font-family: cinzel;">Education</h2><br>



							<div class="row">
								<div class="col-md-8">
									<b><span style="font-family: cinzel; font-size:16px; color:#212931;" ><i class="fa-solid fa-landmark-dome fa-2xl">&nbsp;</i>University of Liverpool  | UK <sup><i class="fa-solid fa-graduation-cap fa-beat">&nbsp;</i>2020-2021</sup></span></b></span>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Master of Science - Data Science and Artificial Intelligence</p>
 									</div>
									<div class="col-md-4" style="color:#C97C59; font-weight: bold;">
										First Class Distinction
									</div>


								<div class="col-md-8">
									<b><span style="font-family: cinzel; font-size:16px; color:#212931;" ><i class="fa-solid fa-landmark-dome fa-2xl">&nbsp;</i>Central University of Punjab | India <sup><i class="fa-solid fa-graduation-cap fa-beat">&nbsp;</i>2015-2017</sup></b></span>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Master of Science - Life Sciences  and Human Genetics</p>
 									</div>
									<div class="col-md-4" style="color:#C97C59;font-weight: bold;">
										First Class Distinction
									</div>

								<div class="col-md-8">
									<b><span style="font-family: cinzel; font-size:16px; color:#212931;" ><i class="fa-solid fa-landmark-dome fa-2xl">&nbsp;</i>University of Delhi | India <sup><i class="fa-solid fa-graduation-cap fa-beat">&nbsp;</i>2011-2014</sup></b></span>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bachelor of Science - Life Sciences</p>
 									</div>
									<div class="col-md-4" style="color:#C97C59;font-weight: bold;">
										First Division
									</div>









								</div>


					</div>
    <br><br>

{% endblock %}