{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/Vis_gallery.css" />
<div class="row">
	<div class="col-md-6">
		<h2 style="font-family: cinzel;">Gallery</h2>
	</div>
	<div class="col-md-6"  style="text-align:right; ">
		<a href="https://www.credly.com/users/abhishek-singh.0e181c82/badges" style="text-decoration: none;color: #1A5276; font-style: italic; font-weight: bold;"><img src="/static/images/credly.svg" style="color: #c97c59;" width="15%"alt=""> Verified<sup>*</sup></sup></a>
	</div>
<div>
	
</div>	
	
</div>
					<div id="main">

						<!-- Post -->


								<!-- Text stuff -->
									<h2 style="font-family: cinzel;"><i class="fa-solid fa-certificate"></i>&nbsp;Badges Earned </h2>
									<p>Badges earned by completing the courses from IBM, Coursera, Linkedin Leading, and DataCamp.</p>
									<hr />


								<!-- Image -->



									<div class="row">
									<div class="column">
										<img src="/static/images/Advi_Data_Science_Specialization.png" style="width:70%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
									</div>
									<div class="column">
										<img src="/static/images/Applied_Data_Science_Capstone.png" style="width:70%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
									</div>
									<div class="column">
										<img src="/static/images/Deep_Learning_Essentials.png" style="width:70%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
									</div>
									<div class="column">
										<img src="/static/images/Applied_Data_Science_with_Python.png" style="width:70%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
									</div>
									<div class="column">
										<img src="/static/images/Statistics_101_-_CC.png" style="width:70%" onclick="openModal();currentSlide(5)" class="hover-shadow cursor">
									</div>
									<div class="column">
										<img src="/static/images/Data_Sci_Foundations_Level_2_-_CC_-_2019.png" style="width:70%" onclick="openModal();currentSlide(6)" class="hover-shadow cursor">
									</div>
									<div class="column">
										<img src="/static/images/Data_Sci_Found_Level_1_-_CC_-_2019.png" style="width:70%" onclick="openModal();currentSlide(7)" class="hover-shadow cursor">
									</div>
									<div class="column">
										<img src="/static/images/Python_for_Data_Sci_and_AI_Foundational.png" style="width:70%" onclick="openModal();currentSlide(8)" class="hover-shadow cursor">
									</div>
									<div class="column">
										<img src="/static/images/Data_Visualization_Using_Python.png" style="width:70%" onclick="openModal();currentSlide(9)" class="hover-shadow cursor">
									</div>
									<div class="column">
										<img src="/static/images/Data_Visualization_with_R.png" style="width:70%" onclick="openModal();currentSlide(10)" class="hover-shadow cursor">
									</div>
									<div class="column">
										<img src="/static/images/Python_101_Data_Science.png" style="width:70%" onclick="openModal();currentSlide(11)" class="hover-shadow cursor">
									</div>
									<div class="column">
										<img src="/static/images/Cognitive_Class_-_Data_Analysis_w_Python.png" style="width:70%" onclick="openModal();currentSlide(12)" class="hover-shadow cursor">
									</div>
									<div class="column">
										<img src="/static/images/Data_Analysis_using_Python.png" style="width:70%" onclick="openModal();currentSlide(13)" class="hover-shadow cursor">
									</div>
									<div class="column">
										<img src="/static/images/I2CS__1_.png" style="width:70%" onclick="openModal();currentSlide(14)" class="hover-shadow cursor">
									</div>

									<div class="column">
										<img src="\static\images\Cloud_Native_Sec_Conf_-_Data_Security.png" style="width:68%" onclick="openModal();currentSlide(15)" class="hover-shadow cursor">
									</div>

									<div class="column">
										<img src="\static\images\dsbdge.png" style="width:68%" onclick="openModal();currentSlide(16)" class="hover-shadow cursor">
									</div>
									<div class="column">
										<img src="\static\images\datacleaning.png" style="width:68%" onclick="openModal();currentSlide(17)" class="hover-shadow cursor">
									</div>
									<div class="column">
										<img src="\static\images\dmr.png" style="width:68%" onclick="openModal();currentSlide(18)" class="hover-shadow cursor">
									</div>

									<div class="column">
										<img src="\static\images\dmimpot.png" style="width:68%" onclick="openModal();currentSlide(19)" class="hover-shadow cursor">
									</div>




									<div id="myModal" class="modal">
										<span class="close cursor" onclick="closeModal()">&times;</span>
										<div class="modal-content">

											<div class="mySlides">
											<div class="numbertext">1 / 19</div>
											<img src="/static/images/Advi_Data_Science_Specialization.png" style="width:30%">
											</div>

											<div class="mySlides">
											<div class="numbertext">2 / 19</div>
											<img src="/static/images/Applied_Data_Science_Capstone.png" style="width:30%">
											</div>

											<div class="mySlides">
											<div class="numbertext">3 / 19</div>
											<img src="/static/images/Deep_Learning_Essentials.png" style="width:30%">
											</div>

											<div class="mySlides">
											<div class="numbertext">4 / 19</div>
											<img src="/static/images/Applied_Data_Science_with_Python.png" style="width:30%">
											</div>

											<div class="mySlides">
												<div class="numbertext">5 / 19</div>
												<img src="/static/images/Statistics_101_-_CC.png" style="width:30%">
											</div>

											<div class="mySlides">
												<div class="numbertext">6 / 19</div>
												<img src="/static/images/Data_Sci_Foundations_Level_2_-_CC_-_2019.png" style="width:30%">
											</div>

											<div class="mySlides">
												<div class="numbertext">7/ 19</div>
												<img src="/static/images/Data_Sci_Found_Level_1_-_CC_-_2019.png" style="width:30%">
											</div>

											<div class="mySlides">
												<div class="numbertext">8 / 19</div>
												<img src="/static/images/Python_for_Data_Sci_and_AI_Foundational.png" style="width:30%">
											</div>

											<div class="mySlides">
												<div class="numbertext">9 / 19</div>
												<img src="/static/images/Data_Visualization_Using_Python.png" style="width:30%">
											</div>

											<div class="mySlides">
												<div class="numbertext">10 / 19</div>
												<img src="/static/images/Data_Visualization_with_R.png" style="width:30%">
											</div>

											<div class="mySlides">
												<div class="numbertext">11 / 19</div>
												<img src="/static/images/Python_101_Data_Science.png" style="width:30%">
											</div>

											<div class="mySlides">
												<div class="numbertext">12 / 19</div>
												<img src="/static/images/Cognitive_Class_-_Data_Analysis_w_Python.png" style="width:30%">
											</div>

											<div class="mySlides">
												<div class="numbertext">13 / 19</div>
												<img src="/static/images/Data_Analysis_using_Python.png" style="width:30%">
											</div>

											<div class="mySlides">
												<div class="numbertext">14 / 19</div>
												<img src="/static/images/I2CS__1_.png" style="width:30%">
											</div>

											<div class="mySlides">
												<div class="numbertext">15 / 19</div>
												<img src="\static\images\Cloud_Native_Sec_Conf_-_Data_Security.png#zoom=1" style="width:30%">
											</div>

											<div class="mySlides">
												<div class="numbertext">16 / 19</div>
												<img src="\static\images\dsbdge.png" style="width:30%">
											</div>

											<div class="mySlides">
												<div class="numbertext">17 / 19</div>
												<img src="\static\images\datacleaning.png" style="width:30%">
											</div>

											<div class="mySlides">
												<div class="numbertext">18 / 19</div>
												<img src="\static\images\dmr.png" style="width:30%">
											</div>

											<div class="mySlides">
												<div class="numbertext">19 / 19</div>
												<img src="\static\images\dmimpot.png" style="width:30%">
											</div>

											<a class="prev" onclick="plusSlides(-1)">&#10096;</a>
											<a class="next" onclick="plusSlides(1)">&#10097;</a>

											<div class="caption-container">
											<p id="caption"></p>
											</div>

									</div>
									</div>





					</div>

				<!-- Footer -->





<script src="/static/js/Vis_gallery.js"></script>



{% endblock %}