{% extends "layout.html" %}
{% block content %}
         <Div >

                    				<!-- Intro -->
            <div class="container">
              <div class="row">

                <div class="col-md-5 ">
                    <div class="circular--portrait" >
							<img src="/static/images/mm2.png" alt="photo"/>
                    </div>
                    <div class="move col-md"><h2>Abhishek Singh </h2>
                   </div>

                </div>

                <div class="col-md-7 " STYLE="font-size:16px;"><br>
                   <p class="text-justify"> Budding data scientist with 1 year of experience in analyzing large data sets and coming up with data-driven insights for early-stage technology companies.
                    Passionate about building models that fix problems. Relevant skills include machine learning, problem solving, programming, and creative thinking.
                    </p>
                </div>
                    <div class="move1 col-md">
                        <h5 class="text-break"><span class="badge bg-dark" style="color:#ffff;">Data Scientist</span>
                        <span class="badge bg-dark" style="color:#ffff;">Data Analyst</span>
                        <span class="badge bg-dark" style="color:#ffff;">MLOps Engineer</span>
                        </h5>

                </div>

              </div>


            </div>













{% endblock %}