{% extends "layout.html" %}
{% block content %}
         <Div >

                    				<!-- Intro -->
            <div class="container">
              <div class="row">

                <div class="col-md-5 ">
                    <div class="circular--portrait" >
							<img src="/static/images/mm2.png" alt="photo"/>
                    </div>
                    <div class="move col-md"><h2>Abhishek Singh </h2>
                   </div>

                </div>

                <div class="col-md-7 " STYLE="font-size:16px;"><br>
                   <p class="text-justify"> Budding data scientist with 1 year of experience in analyzing large data sets and coming up with data-driven insights for early-stage technology companies.
                    Passionate about building models that fix problems. Relevant skills include machine learning, problem solving, programming, and creative thinking.
                    </p>
                </div>
                    <div class="move1 col-md">
                        <h5 class="text-break"><span class="badge bg-dark" style="color:#ffff;">Data Scientist</span>
                        <span class="badge bg-dark" style="color:#ffff;">Data Analyst</span>
                        <span class="badge bg-dark" style="color:#ffff;">MLOps Engineer</span>
                        </h5>

                </div>

              </div>


            </div>
             <br><br>
            <h4>Latest Certificates</h4>
<div class="container">

{#    AWS CetrificATE#}
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><i class="fa-brands fa-aws fa-2x"></i> </button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h6 class="modal-title"></h6>
        </div>
        <div class="modal-body">
            <iframe src="\static\pdf\134_3_1458961_1664024650_AWS Course Completion Certificate.pdf#zoom=40" loading="lazy" width="100%" height="390px">
								</iframe>
          <p>AWS Cloud Practitioner Essentials </p>
        </div>
{#        <div class="modal-footer">#}
{#          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#        </div>#}
      </div>

    </div>
  </div>
{#    AWS CetrificATE#}





</div>









{% endblock %}